@import './var.scss';
@font-face
{
	font-family: minion-pro;
	src: url('/static/font/minion_pro.ttf');
		// ,url('/static/font/minion_pro.ttf'); 
}
*{
  margin:0;
  padding: 0;
}
body {
  font-size: $baseFontSize;
  // font-family: sans-serif;
  font-family: "minion-pro";
}